.date-vau-container {
  background: #ffffff;

  padding: 15px;
  border-radius: 16px;
  width: 400px;
  max-width: 90%;
  margin-top: 20px;
  text-align: left;
  word-wrap: break-word;

  box-shadow: none;

  border: 2px solid #66bb6a; /* borde verde */
}

/* Título */
.date-title {
  text-align: center;
  color: #1b5e20;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.5em;
}

/* Texto */
p {
  margin: 6px 0;
  color: #2e7d32;
  text-align: left;
  word-wrap: break-word;
}

/* Botón */
button {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #fb8c00;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #ef6c00;
}

/* Sección extra */
.more {
  margin-top: 10px;
  border-top: 1px solid #c8e6c9;
  padding-top: 10px;
}