<div class="date-vau-container">

  <!-- Título con flechas -->
<div class="date-header">
  <button class="arrow-btn" *ngIf="!loading" (click)="cambiarFecha(-1)">&larr;</button>
  <h2 class="date-title" *ngIf="fechaActual">{{ formatFecha(fechaActual) }}</h2>
  <button class="arrow-btn" *ngIf="!loading" (click)="cambiarFecha(1)">&rarr;</button>
</div>

  <!-- Spinner mientras carga -->
  <div *ngIf="loading" class="spinner-container">
    <div class="spinner"></div>
    <p>Cargando datos...</p>
  </div>

  <!-- Mostrar datos solo si no está cargando -->
  <div *ngIf="!loading && data" class="info">

    <p><strong>Día:</strong> {{ data.day }}</p>
    <p *ngIf="data.week"><strong>Semana:</strong> {{ data.week }}</p>
    <p><strong>Mes:</strong> {{ data.month.name }}</p>
    <p><strong>Año:</strong> {{ data.year.numberOfYear }}</p>
    <p><strong>Métono:</strong> {{ data.metonoIN.numberOfMeton }}</p>
    <p><strong>Eclípeno:</strong> {{ data.eclipenoIN.yearOfCurrentEclipenoIN }}</p>     
    <p *ngIf="data.notableEvent.today" class="evento-res"><strong>Evento reseñable:</strong> {{ data.notableEvent.today }}</p>

    <button (click)="toggleMore()">
      {{ showMore ? 'Menos detalles' : 'Más detalles' }}
    </button>

    <div *ngIf="showMore" class="more">

      <div *ngIf="data.notableEvent.next">
        <p><strong>Próximo evento reseñable:</strong> {{ data.notableEvent.next }}</p>
      </div>

      <div *ngIf="data.notableEvent.previous">
        <p><strong>Último evento reseñable:</strong> {{ data.notableEvent.previous }}</p>
      </div>

      <p><strong>Eclipses absolutos desde el eclípeno:</strong> {{ data.absoluteEclipses.sinceLastEclipenoIN }}</p>

      <div *ngIf="data.casalero">
        <p><strong>Casalero:</strong> {{ getDescripcionCasalero() }}</p>
      </div>
    
    </div>

  </div>

 <div *ngIf="!data && !loading" class="error-message">
  <p>No se han podido obtener los datos</p>
  <button class="retry-btn" (click)="cargarDatos(fechaActual)">Reintentar</button>
</div>

</div>