<div class="home-container">
  <div class="home-card">

    <h1 class="title">Calendario para vivir en armonía con el universo</h1>

    <div class="date-section">

       <div class="general-container" >
        <app-date-vau [fecha]="fecha" (fechaChange)="onFechaDesdeComponenteHijo($event)" *ngIf="vauContainerView"></app-date-vau>
        <app-descargas (back)="goToVauContainer()" *ngIf="descargarView"></app-descargas>
       </div>
     

        <!-- Botón “Hoy”, solo si la fecha no es hoy -->
        <button 
          *ngIf="fecha !== today && vauContainerView" 
          (click)="volverHoy()" 
          class="today-btn">
            Volver a hoy
        </button>
      </div>

      <!-- Botones principales -->
      <div class="actions">
      <div class="popup-container">
      <button (click)="toggleOpciones($event)">
        {{ mostrarOpciones ? 'Cerrar más opciones' : 'Más opciones' }}
      </button>

      <div *ngIf="mostrarOpciones">
        <div class="popup-menu" #popup>
          <div *ngFor="let opcion of opciones">
            <button (click)="opcionClickada(opcion.value)" *ngIf="mostrarOpcion(opcion.loggedUserOnly)">{{opcion.name}}</button>    
          </div>
        </div>
      </div>
    </div>

    <button (click)="buscarFecha()" *ngIf="vauContainerView">
      {{ showDatePicker ? 'Ocultar calendario' : 'Convertir una fecha' }}
    </button>
  </div>

     
  <div class="others">
    <!-- Calendario oculto -->
    <input
      *ngIf="showDatePicker"
      type="date"
      [value]="fecha"
      (change)="onFechaSeleccionada($event)"
    />

    <button class="login-button" (click)="goToLogin()">Volver al login</button>
  </div>
    

  <!-- Footer -->
  <p class="author">Por Carlos Casado Aguilera</p>

  </div>
</div>