<div class="home-container">
  <div class="home-card">

    <h1 class="title">Calendario para vivir en armonía con el universo</h1>

    <div class="date-section">
      <!-- Componente de fecha -->
     <app-date-vau [fecha]="fecha" (fechaChange)="onFechaDesdeComponenteHijo($event)"></app-date-vau>

<!-- Botón “Hoy”, solo si la fecha no es hoy -->
<button 
  *ngIf="fecha !== today" 
  (click)="volverHoy()" 
  class="today-btn">
  Volver a hoy
</button>
    </div>

    <!-- Botones principales -->
    <div class="actions">
      <button (click)="openPdf()">Descargar PDF explicativo</button>
      <button (click)="buscarFecha()">
        {{ showDatePicker ? 'Ocultar calendario' : 'Convertir una fecha' }}
      </button>
    </div>

     
    <div class="others">
      <!-- Calendario oculto -->
      <input
        *ngIf="showDatePicker"
        type="date"
        [value]="fecha"
        (change)="onFechaSeleccionada($event)"
      />

      <button class="login-button" (click)="goToLogin()">Volver al login</button>
    </div>
    

    <!-- Footer -->
    <p class="author">Por Carlos Casado Aguilera</p>

  </div>
</div>