<div class="login-container">
  <div class="login-card">

    <h1 class="title">Recuperar contraseña</h1>

    <form #forgotForm="ngForm" (ngSubmit)="recoverPassword(forgotForm)">

      <label for="user">Correo electrónico</label>
      <input id="user" name="user" type="text" [(ngModel)]="userEmail" required
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" #userCtrl="ngModel"/>

      <!-- Mensaje si está vacío -->
      <div class="error" *ngIf="forgotForm.submitted && !userEmail">
        Este campo es obligatorio
      </div>

      <!-- Mensaje si no es un email válido -->
      <div class="error" *ngIf="forgotForm.submitted && userEmail && userCtrl.errors?.['pattern']">
        Introduce un email válido
      </div>

      <button type="submit">Recuperar</button>
      <button type="button" class="secondary" (click)="goLogin()">Volver al login</button>

    </form>

  </div>
</div>